/* Regole generali della pagina */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.sizing {
  margin: 0 10% 0 10%;
  height: 100%;
  position: relative;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* Regole corpo della pagina */
/* HEADER REGOLE */
header {
  background-color: #0031c4;
  width: 100%;
  height: 100vh;
}
#logo, nav, #actiondx {
  margin-top: 20px;
}
#logo, nav {
  float: left;
}
 nav{
   color: white;
   margin-left: 150px;
   display: inline-block;
}
 li {
  display: inline;
  line-height: 50px;
  margin-left: 5px;
  font-size: 15px;
}
#li-first {
  margin-left: 0;
}
#actiondx {
  float: right;
}
#img {
  position: absolute;
  bottom: -4px;
  right: 0;
  z-index: 1;
  margin: 0;
}
.advertise {
  position: absolute;
  bottom: 50%;
  left: 0;
  z-index: 2;
}
h1 {
  font-size: 40px;
  color: white;
}
.greenbutton {
  background-color: #80cf32;
  border: none;
  border-radius: 3px;
}
a {
  text-decoration: none;
  color: white;
}
#b1 {
  background-color: transparent;
  width: 80px;
  height: 40px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}
#b2 {
  width: 160px;
  height: 40px;
  color: white;
}
#b3 {
  width: 170px;
  height: 50px;
  margin-top: 20px;
  background-color: #80cf32;
  color: white;
}
/* REGOLE MAIN */
/* PRIMA SEZIONE */
#schoolstats {
  background-color: lightgrey;
  width: 100%;
  text-align:center;
  padding: 40px 0;
}
/* SECONDA SEZIONE */
#mid-content {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
 }
.col {
  float: left;
  width: 27%;
  text-align: center;
}
.img-main-sect1{
  width: 36%;
  height: 200px;
}
.greentext {
  color:#80cf32;
  margin-bottom: 20px;
}
/* TERZA SEZIONE */
#sect2 {
  margin-top: 50px;
}
